@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDo-List Application</h1>
    <p class="lead">Welcome to our ToDo-List Aplication! Here you can make your own list of yours task and check its progress in any moment.</p>
</div>
